:root{
    --netflix-red:#e50914;
    --bg-dark:#000000;
    --text-gray:#b3b3b3;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: sans-serif;
    background: var(--bg-dark);
    color:#ffffff;
}

.header{
    position:relative;
    min-height: 100vh;
    color:#ffffff;
    background:radial-gradient(
            circle at top,
            rgba(0,0,0,0.1) 0%,
            rgba(0,0,0,0.6) 60%,
            #000 100%
        ),
        url("images/header.PNG") center / cover no-repeat;
}